<% include header %>

    <div class="page-content inset">
        <h2>
            <a href="/article/<%= post._id %>"><%= post.title %></a>
        </h2>
        <div class="clearfix">
            <p class="text-warning pull-left">
                <span>生产日期：<%= post.time.day %></span>
                <span>已被<%= post.pv %>人围观</span>
            </p>
            <p class="pull-right">
                <a  href="/edit/<%= post._id %>" class="btn btn-primary btn-xs "><span class="glyphicon glyphicon-pencil"></span> 修改</a>
                <a href="/remove/<%= post._id %>" class="btn btn-warning btn-xs "><span class="glyphicon glyphicon-trash"></span></a>
            </p>
        </div>
        <div class=" jumbotron">
            <p>
                <%- post.content %>
            </p>
        </div>
    </div>

<% include footer %>